<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Password Unzip</title>

<body>
  <table border="0" cellspacing="0" cellpadding="0" width="800px" style="border:1px solid #c0c0c0" align="center">
    <tbody>
      <tr>
        <td style="width:650px; height: 30px">
        </td>
      </tr>
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" border="0" width="800px">
            <tbody>
              <tr>
                <td style="width:45px">
                  <br>
                </td>
                <td style="width:750px">
                  <div class="m_302787335969032636body">
                    <div style="font-weight:bold;color:#58585a;font-family:Tahoma;font-size:10pt">
                    </div>
                    <br>
                    <div style="padding-bottom:5px;color:#58585a;font-family:Tahoma;font-size:10pt">
                      Xin chào,
                      <br>
                      Payme đã nhận được yêu cầu của bạn, với thông tin giải mã file:
                      <br>
                      <ul>
                        <li>Mật khẩu: <b> <%= content.code%></b></li>
                      </ul>
                      <br>
                      Note : Không chia sẽ mã code cho bất kỳ ai kể cả nhân viên Payme.
                      <br><br>
                      <br>
                      Trân trọng.
                    </div>

                    <br>
                    <div>
                      <hr style="color:#f26300;border:0;height:2px;background-color:#f26300">
                    </div>
                  </div>
                  <div align="left"
                    style="padding-bottom:15px;color:#58585a;font-family:Tahoma;font-size:9pt;vertical-align:top;height:22px">
                    <div>Thư này được gửi từ <%= content.footer %></div>
                  </div>
                </td>
                <td style="width:45px">
                  <br>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>