<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= content.actionTitle%> liên kết</title>
        <meta name="description" content="PayME">
        <meta name="viewport" content="width=device-width">
        <link
            href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <style>
            body {
                font-family: "Barlow", sans-serif;
                font-weight: 400;
                background: #eeeeee;
                color: #000;
                font-size: 14px;
                line-height: 1.6;
            }

            * {
                padding: 0;
                margin: 0;
            }

            .container {
                max-width: 688px;
                display: block;
                margin: 50px auto;
                background: #fff;
            }

            .logo {
                padding: 10px 0 0px;
                text-align: center;
                width: 100%;
                display: block;
                border-bottom: 1px solid #eef1f2;
            }

            .logo img {
                width: 145px;
            }

            .cls-page-top {
                /* background: url(https://cdn.payme.vn/ctt-group-17.png) #fff center bottom no-repeat; */
                padding: 30px;
            }

            .cls-page-top h2 {
                font-size: 1em;
                font-weight: 600;
                margin-bottom: 20px;
            }

            .cls-page-top p {
                display: block;
                margin-bottom: 20px;
            }

            .footer {
                background: #0daa27;
                text-align: center;
                padding: 10px 15px;
                color: #fff;
            }

            .footer h3 {
                font-size: 0.95em;
                font-weight: 600;
            }

            .footer p {
                font-size: 0.8em;
                font-weight: 300;
            }

            .footer div a {
                color: #fff;
                text-decoration: none;
                font-size: 0.8em;
                font-weight: 200;
                margin: 0 10px;
            }

            .footer div a img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }

            .cls-page-top p b {
                font-weight: 600;
                display: inline-block;
            }

            .bold5 {
                font-weight: 500;
            }

            .green {
                color: #0daa27;
            }

            .text-center {
                text-align: center;
            }

            .box-green {
                display: inline-block;
                width: 300px;
                border: 2px solid #0daa27;
                border-radius: 10px;
                padding: 8px 0 0 0;
                margin-bottom: 20px;
                background: #f4fff6;
            }

            .box-green a {
                display: block;
                padding: 0 0 8px;
                text-decoration: none;
                font-size: 1.2em;
            }

            .box-green a > label {
                color: #000;
                font-weight: 400;
            }

            .footer div a b {
                font-weight: 500;
            }

            .detail-trans-header {
                text-transform: uppercase;
                font-weight: 500;
                text-align: center;
                background: #aeefb9;
                font-size: 13px;
                border-radius: 5px;
                padding: 11px 0px;
            }
            .detail-trans {
                display: flex;
            }

            .sub-detail-trans {
                border: 1px solid #aeefb9;
                border-radius: 5px;
                position: relative;
                top: -4px;
                background-color: #f7f7f7;
                padding: 5px 10px;
                width: 77.7%;
            }

            .top-sub-detail-trans div,
            .bot-sub-detail-trans div {
                display: flex;
                justify-content: space-between;
                /* margin-bottom: 16px; */
            }

            .bot-sub-detail-trans div:last-child {
                margin-bottom: 0;
            }

            .note {
                padding: 15px 17px;
                margin-bottom: 20px;

                line-height: 24px;
                font-size: 14px;
                letter-spacing: 0;
            }

            .note span {
                color: #d0021b;
                text-decoration: underline;
            }

            /* .title {
            color: #686868;
            font-weight: 500;
            font-size: 13px;
        }

        .content {
            font-weight: 600;
            font-size: 13px;
            word-break: break-word;
        } */

            /* .title {
                color: #000000;
                font-weight: 500;
                font-size: 13px;
                width: 50%;
            }

            .content {
                color: #000000;
                font-weight: 600;
                font-size: 13px;
                text-align: right;
                width: 50%;
                word-break: break-word;
            } */

            .price {
                color: #0daa27;
            }

            .dashed {
                /* margin: 16px 0; */
                height: 20px;
                border: 0 none;
                background: repeating-linear-gradient(
                        to right,
                        #979797 0,
                        #979797 3px,
                        transparent 3px,
                        transparent 7px
                    )
                    center;

                background-size: 100% 2px;
                background-repeat: no-repeat;
            }
            .qr-code {
                width: 20.5%;
                padding-right: 1.8%;
            }
            .qr-code img {
                width: 100%;
            }
            @media screen and (max-width: 414px) {
                .qr-code {
                    width: 33.33%;
                }
                .detail-trans {
                    display: block;
                }
            }
        </style>
    </head>

    <body>
        <div class="container">
            <a href="https://payme.vn" class="logo">
                <img src="https://static.payme.vn/web/payme-web/bg-logo.png" alt="payme" />
            </a>
            <div class="cls-page-top">
                <p style="margin-bottom: 15px">
                    Xin chào bạn!<br />
                    Tài khoản ví <b>PayME <%= content.fullname%></b> vừa
                    <b><%= content.actionTitle%></b> đến bạn với nội dung sau:
                </p>
                <div class="detail-trans">
                    <div class="qr-code">
                        <img src="https://t.payme.vn/qr?t=<%= content.link%>" alt="qr-code" />
                    </div>
                    <div class="sub-detail-trans">
                        <div class="top-sub-detail-trans">
                            <div>
                                <span
                                    class="title"
                                    style="
                                       color: #000000;
                                        font-weight: 500;
                                        font-size: 16px;
                                        font-size: 13px;
                                        width: 50%;
                                    "
                                    >Số tiền chuyển: </span
                                >
                                <span
                                    class="content price"
                                    style="
                                        font-weight: 600;
                                        font-size: 13px;
                                        text-align: right;
                                        width: 50%;
                                        word-break: break-word;
                                    "
                                >
                                <%= content.total%> đ</span
                                >
                            </div>
                        </div>
                        <hr class="dashed" />
                        <div class="bot-sub-detail-trans">
                            <div>
                                <span
                                    class="title"
                                    style="
                                       color: #000000;
                                        font-weight: 500;
                                        font-size: 16px;
                                        font-size: 13px;
                                        width: 50%;
                                    "
                                    >Nội dung: </span
                                >
                                <span
                                    class="content"
                                    style="
                                        color: #000000;
                                        font-weight: 600;
                                        font-size: 13px;
                                        text-align: right;
                                        width: 50%;
                                        word-break: break-word;
                                    "
                                    ><%= content.note%></span
                                >
                            </div>
                            <!-- <hr class="dashed" />
                            <div>
                                <span
                                    class="title"
                                    style="
                                        color: #000000;
                                        font-weight: 500;
                                        font-size: 13px;
                                        width: 46.9%;
                                    "
                                    >Liên kết <%= content.receiverAction %>:</span
                                >
                                <span
                                    class="content price"
                                    style="
                                        font-weight: 600;
                                        font-size: 13px;
                                        text-align: right;
                                        width: 53.1%;
                                        word-break: break-word;
                                    "
                                    ><%= content.link%></span
                                >
                            </div> -->
                        </div>
                    </div>
                </div>

                <p style="margin-bottom: 5px">Trân trọng cảm ơn!</p>
                <p style="font-weight: bold; margin-bottom: 0">PayME Team!</p>
            </div>
            <div class="footer">
                <div>
                    <a>Holine: <b>1900 88 66 65</b></a>
                    <a>Email: <b>hotro@payme.vn</b></a>
                </div>
            </div>
        </div>
    </body>
</html>
