<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Social payment</title>
  <meta name="description" content="PayME">
	<meta name="viewport" content="width=device-width">
  <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
  />

<body>
  <p>Bạn được <%= content.action%> qua hệ thống ví PayME!</p>
  <p>Vui lòng <a href="<%= content.url%>">ấn vào đây</a> để thực hiện giao dịch.</p>
</body>

</html>