<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>PayME - Chuyển tiền</title>
  <meta name="description" content="CTT PAYME" />
  <meta name="viewport" content="width=device-width" />
  <style>
    .w-50 {
      width: 50%;
    }

    .container {
      font-weight: 400;
      background: #fff;
      color: #000;
      line-height: 1.6;
      width: 100%;
      font-size: 12px;
      width: 600px;
      margin: 0 auto;
      font-family: Helvetica, Arial, sans-serif;
    }


    .container thead tr th {
      border-bottom: 1px solid #eef1f2;
    }

    .container>tfoot {
      height: 30px;
    }

    .container>tfoot a {
      text-decoration: none;
      color: #fff;
      font-weight: 700;
    }

    .container>tfoot tr td {
      background-color: #0daa27;
      color: #fff;
      padding: 5px
    }

    .text-strong {
      font-weight: 600;
    }

    .text-center {
      text-align: center;
    }

    .text-right {
      text-align: right;
    }

    .text-green {
      color: #0daa27 !important;
    }

    .detail-table {
      width: 100%;
      border: 1px solid #aeefb9;
      border-radius: 10px;
      table-layout: fixed;
    }

    .detail-table thead tr th {
      background-color: #aeefb9;
      padding: 8px;
    }

    .detail-table tr.border-top td {
      border-top: 1px dashed #979797;
    }

    .detail-table tbody tr td {
      padding: 8px 15px;
    }

    .detail-table .label {
      font-weight: 500;
      color: #686868;
      white-space: nowrap;
    }

    .detail-table .detail {
      font-weight: 600;
      color: #000;
      text-align: right;
    }

    .word-break {
      word-break: break-all;
    }

    @media (max-width: 600px) {
      body {
        font-size: 11px;
      }

      .container {
        width: 100%;
      }

      .detail-table {
        max-width: 100%;
      }

      .detail-table .detail {
        white-space: nowrap;
      }
    }
  </style>
</head>

<body>
  <table class="container" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th class="text-center" colspan="2">
          <img src="https://static.payme.vn/web/payme-web/bg-logo.png" alt="payme" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="padding-top: 30px;" colspan="2">
          Xin chào <%= content.fullname%>! <br />
            Tài khoản ví <b>PayMe <%= content.phone%></b> của bạn vừa thực hiện giao dịch
            <b>
              <%= content.serviceName || 'Chuyển tiền thẻ ATM thành công' %>
            </b>
            với nội dung sau:
        </td>
      </tr>
      <tr>
        <td style="padding-top: 15px;" colspan="2">
          <table class="detail-table" cellspacing="0" cellpadding="0">
            <thead>
              <tr>
                <th colspan="2" class="text-center">
                  CHI TIẾT GIAO DỊCH CHUYỂN TIỀN
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="label">Mã giao dịch:</td>
                <td class="detail">
                  <%= content.transaction%>
                </td>
              </tr>
              <tr>
                <td class="label">Thời gian giao dịch:</td>
                <td class="detail">
                  <%= content.dateTransaction%>
                </td>
              </tr>
              <tr class="border-top">
                <td class="label">Phương thức:</td>
                <td class="detail">
                  <%= content.methodTitle%>
                </td>
              </tr>
              <% if(content.cardNumber !== 'Số dư ví PayME') { %>
                <tr>
                  <td class="label">Số <%= content.methodTitle === 'Thẻ ATM nội địa' ? 'thẻ' : 'tài khoản' %>:</td>
                  <td class="detail">
                    <%=content.cardNumber%>
                  </td>
                </tr>
                <% } %>
                <% if(content.fullnameReceiver) { %>
                <tr>
                  <td class="label">Người nhận:</td>
                  <td class="detail">
                    <%=content.fullnameReceiver%>
                  </td>
                </tr>
                <% } %>
                <% if(content.note) { %>
                  <tr>
                    <td class="label">Ghi chú:</td>
                    <td class="detail">
                      <%=content.note%>
                    </td>
                  </tr>
                  <% } %>
              <% if(content.fee !== 0 || content.fee !== '0' || content.fee !== 'Miễn phí') { %>
              <tr>
                <td class="label">Phí giao dịch:</td>
                <td class="detail text-green">
                  <%= content.fee > 0 ? content.fee + ' đ' : 'Miễn phí' %> 
                </td>
              </tr>
              <% } %>
              <tr>
                <td class="label">Số tiền:</td>
                <td class="detail text-green">
                  <%= content.total%> đ
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td style="padding-left: 15px; padding-top: 15px;" colspan="2">
          <p style="color: #d0021b; text-decoration: underline;">LƯU Ý:</p>
          <p>
            Để đảm bảo an toàn, tuyệt đối <strong>KHÔNG</strong> cung cấp hoặc chia sẻ
            <strong>OTP/ MẬT KHẨU</strong>
            tài khoản
            <strong>Ví PayME</strong>
            của bạn cho người khác.
          </p>
        </td>
      </tr>

      <tr>
        <td style="padding-top: 15px;" colspan="2">
          Trân trọng cảm ơn!
        </td>
      </tr>
      <tr>
        <td class="text-strong" colspan="2">
          PayME Team
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="text-right w-50" style="font-size: 12px;">Hotline: <strong>1900 88 66 65</strong></td>
        <td class="w-50" style="font-size: 12px;">Email: <a href="mailto:hotro@payme.vn">hotro@payme.vn</a>
        </td>
      </tr>
    </tfoot>
  </table>
</body>

</html>